* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.icon {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
}

#container {
    cursor: default;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#other-calculators {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    height: 422.917px;
    width: 200px;
    margin-right: 5px;
    border: 2px black solid;
    overflow: auto;
}

#other-calculators div {
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}

#other-calculators div:hover {
    background-color: rgb(168, 168, 168);
}

#other-calculators div.active {
    background-color: rgb(140, 140, 255);
}

.calculator {
    border: 2px black solid;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    width: 304px;
    height: 422.917px;
    display: none;
}

.calculator.active {
    display: block;
}

.calculator .top-bar {
    display: flex;
    justify-content: space-between;
}

.calculator .other-calculators-bar {
    margin: 5px;
    cursor: pointer;
}

.calculator .other-calculators-bar div {
    width: 17px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

.calculator .button {
    color: white;
    margin: 0px 5px 5px 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 25px;
    cursor: pointer;
}

.calculator .buttons .numbers .button {
    background-color: rgb(255, 193, 77);
    color: white;
}

.calculator .buttons .numbers .button:active {
    background-color: rgb(218, 141, 0);
}

.calculator .buttons .delete {
    background-color: rgb(165, 42, 42) !important;
    color: white;
}

.calculator .buttons .delete:active {
    background-color: rgb(121, 30, 30) !important;
}

.calculator select {
    background-color: transparent;
    border: none;
}

.calculator:nth-of-type(2) .buttons .down-buttons {
    display: flex;
}

.calculator:nth-of-type(2) .buttons .numbers {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.calculator:nth-of-type(2) .buttons .basic-symbols {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.calculator:nth-of-type(2) .buttons .basic-symbols .button {
    background-color: rgb(255, 193, 77);
    color: white;
}

.calculator:nth-of-type(2) .buttons .basic-symbols .button:active {
    background-color: rgb(235, 152, 0);
}

.calculator:nth-of-type(2) .buttons .advance-symbols {
    display: flex;
}

.calculator:nth-of-type(2) .buttons .advance-symbols .button {
    background-color: rgb(1, 207, 1);
    color: black;
}

.calculator:nth-of-type(2) .buttons .advance-symbols .button:active {
    background-color: rgb(0, 100, 0);
}

.calculator:nth-of-type(2) .result {
    cursor: default;
    padding: 5px;
    margin: 10px;
    height: 90px;
    font-size: 25px;
    text-align: right;
}

.calculator:nth-of-type(3) .date-calculator {
    display: none;
}

.calculator:nth-of-type(3) .date-calculator.active {
    display: block;
}

.calculator:nth-of-type(3) p {
    font-size: 20px;
    margin: 4px;
}

.calculator:nth-of-type(3) input {
    margin-left: 5px;
}

.calculator:nth-of-type(3) pre {
    margin: 0;
}

.calculator:nth-of-type(3) form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}

.calculator:nth-of-type(3) .result {
    font-size: 25px;
    font-weight: bold;
}

.calculator:nth-of-type(3) .date-calculator:nth-of-type(3) input[type='radio'] {
    height: 15px;
    width: 15px;
}

.calculator:nth-of-type(3) .date-calculator:nth-of-type(3) .second-addend-date {
    width: 20%;
}

.converter p {
    font-size: 30px;
    margin: 4px;
}

.converter .buttons {
    width: 80%;
}

.converter .buttons .numbers {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-wrap: wrap;
}

#history {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    height: 422.917px;
    width: 264.110px;
    margin-left: 5px;
    border: 2px black solid;
    overflow: auto;
}

#history .top-bar {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#history #history-content div {
    margin-bottom: 10px;
    padding: 0px 10px;
    cursor: pointer;
    text-align: right;
    font-size: 20px;
}

#history #history-content div p {
    margin-bottom: 5px;
}

#history #history-content div .input {
    font-size: 15px;
}

#history #history-content div .output {
    font-size: 20px;
}

#history #history-content div:hover {
    background-color: rgb(168, 168, 168);
}

#extra-buttons {
    display: flex;
}

.extra-button {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 10px;
    color: white;
    background-color: black;
    text-decoration: none;
}